<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Random Data Generator</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
</head>

<body>
  <h1>Random Data Generator</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Password</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="data : ${randomData}">
        <td th:text="${data.firstName} + ' ' + ${data.lastName}"></td>
        <td th:text="${data.email}"></td>
        <td th:text="${data.phoneNumber}"></td>
        <td th:text="${data.password}"></td>
        <td th:text="${data.country}"></td>
      </tr>
    </tbody>
  </table>

  <button id="btnRefresh" type="button">
    Refresh
  </button>

  <div class="Info">
    <ul>
      <li>Number of first names: 3897</li>
      <li>Number of Last names: 21986</li>
      <li>Passwords are cryptographically strong</li>
    </ul>
  </div>

  <script>
    const refreshBtn = document.getElementById("btnRefresh");

    function handleClick() {
      window.location.reload();
    }

    refreshBtn.addEventListener("click", handleClick);
  </script>
  
</body>
</html>